.cardSwiper {
  margin: 20px;
}
.cardSwiper > h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 120%;
  padding-bottom: 24px;
}
.cardswiper__cardContainer {
  display: flex;
}
.slick-arrow {
  z-index: 200;
}
.cardSwiper__card {
  color: #fff;
  position: relative;
}
.cardSwiper__card > img {
  height: 300px;

  object-fit: contain;
}
.cardSwiper__cardText {
  position: absolute;
  top: 10px;
  left: 20px;
}
.cardSwiper__cardText > h4 {
  font-size: 22px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  padding: 5px;

  background-color: #fff !important;
  border-radius: 100%;
  box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.03231),
    0 0.37px 4.42626px rgba(0, 0, 0, 0.04769), 0 3px 7px rgba(0, 0, 0, 0.09);
}

@media screen and (max-width: 768px) {
  .cardSwiper__card {
    display: flex !important;
  }
}
