.sliderOption {
  position: relative;

  margin: 0 20px;
}
.sliderOptionFlex {
  position: relative;

  margin: 0 20px;
}
.sliderOption > a,
.sliderOptionFlex > a {
  text-decoration: none;
  color: #999;

  font-weight: 450;
  line-height: 24px;
}
.sliderOption__dropDownContainer {
  display: none;
  overflow-y: scroll;
  background-color: #fff;

  height: 75vh;
  border: 1px solid #888;
}
.sliderOption__dropDownContainer::-webkit-scrollbar {
  display: none;
}
.sliderOption:hover > a,
.sliderOptionFlex:hover > a {
  border-bottom: 4px solid #1dbf73;
}
.sliderOption:hover .sliderOption__dropDownContainer {
  position: absolute;
  display: grid;

  padding: 20px;
  grid-template-columns: repeat(4, 250px);
  grid-gap: 20px;
}
.sliderOption__dropDownContent {
  display: flex;

  flex-direction: column;
}
.sliderOption__dropDownContent > h4 {
  margin-bottom: 20px;
  font-size: 18px;
}
.sliderOption__dropDownContent > a {
  padding: 10px 0px;
  text-decoration: none;
  color: #999;
  font-size: 1rem;
  font-weight: 500;
}

.sliderOption__dropDownContainerFlex {
  display: none;
  overflow-y: scroll;
  position: absolute;
  background-color: #fff;

  height: 75vh;
  border: 1px solid #888;
  animation: ease-in-out 2s;
}
.sliderOption__dropDownContainerFlex::-webkit-scrollbar {
  display: none;
}
.sliderOptionFlex:hover .sliderOption__dropDownContainerFlex {
  display: grid;
  padding: 20px;

  grid-template-columns: repeat(2, 200px);
  grid-gap: 20px;
}
